<h1>parent works!</h1>
<div>
    <div *ngIf="isLoading; else elseBlock">
        <h1>Loading...</h1>
    </div>

    <ng-template #elseBlock>
        <div>
            <first-child (SendInputEvent)="getGrade($event)"></first-child>
            <div *ngFor="let el of grades; index as i">{{ i + 1 }}.{{ el }}</div>
            <hr />
            <div *ngFor="let item of lessons">
                <h3>{{ item.title }}</h3>
                <div *ngFor="let el of item.grades">{{ el.mark }}</div>
            </div>
        </div>
    </ng-template>

    <hr />
    <input type="text" [(ngModel)]="switchValue" />
    <div [ngSwitch]="switchValue">
        <div *ngSwitchCase="1">One</div>
        <div *ngSwitchCase="2">Two</div>
        <div *ngSwitchCase="3">Three</div>
        <div *ngSwitchDefault>NO!</div>
    </div>
    <hr />
    <div>
        <!--        <h1 class="default success">Test Style Classes</h1>-->
        <!--        <h1 [ngClass]="'default success'">Test Style Classes</h1>-->
        <h1 [ngClass]="{ default: true, error: isClass }">Test Style Classes</h1>
        <h1 [ngStyle]="{ fontSize: '40px' }">Test InlineStyle</h1>
    </div>
    <hr />
    <h2>09.8 - All tasks in one</h2>
    <div
        *ngFor="let fr of fruits; index as i; even as even; odd as odd"
        [ngClass]="{ fruits: true, even: even, odd: odd, bonus: fr.price > 30 }"
    >
        <div *ngIf="fr.price > 25">{{ fr.name }} - {{ fr.price }}</div>
    </div>
    <h2>09.8 - 01</h2>
    <div *ngFor="let fr of fruits">{{ fr.name }} - {{ fr.price }}</div>
    <h2>09.8 - 02-03</h2>
    <div
        *ngFor="let fr of fruits; index as i; even as even; odd as odd"
        [ngClass]="{ fruits: true, even: even, odd: odd }"
    >
        {{ fr.name }} - {{ fr.price }}
    </div>
    <h2>09.8 - 04</h2>
    <div>
        <div *ngFor="let fr of fruits">
            <div *ngIf="fr.price > 25">{{ fr.name }} - {{ fr.price }}</div>
        </div>
    </div>
    <h2>09.8 - 05</h2>
    <div>
        <div *ngFor="let fr of fruits">
            <div [ngClass]="{ bonus: fr.price > 30 }">{{ fr.name }} - {{ fr.price }}</div>
        </div>
    </div>
</div>
