<div class="todolist_box">
    <h1 class="todolist_title">Angular Todolist Project</h1>
    <div class="todolist_addForm">
        <input type="text" placeholder="Enter todolist title" [(ngModel)]="todoTitle" />
        <button (click)="createTodo()">+</button>
    </div>
    <div class="todolist_getTlError">
        <span *ngIf="error; else NotError">{{ error }}</span>
    </div>
    <ng-template #NotError>
        <todolist-todolist
            *ngFor="let todo of todos$ | async"
            [todolist]="todo"
            (deleteTodoEvent)="deleteTodo($event)"
            (updateTodoEvent)="updateTodoTitle($event)"
        ></todolist-todolist>
    </ng-template>
</div>
