<div class="todolist_box">
    <div class="todolist_title">Angular Todolist Project</div>
    <!--<div>-->
    <!--    <button (click)="createTodo()">Create New Todo</button>-->
    <!--    <button (click)="deleteTodo()">Delete Todo</button>-->
    <!--    <button (click)="updateTodo()">Update Todo Title</button>-->
    <!--</div>-->
    <div class="todolist_getTlError">
        <span *ngIf="error; else elseNotError">{{ error }}</span>
    </div>
    <ng-template #elseNotError>
        <!--        <div class="todolists" *ngFor="let todo of todos$ | async">-->
        <todolist-todolist
            *ngFor="let todo of todos$ | async"
            [todolist]="todo"
        ></todolist-todolist>
        <!--        </div>-->
    </ng-template>
</div>
