@import 'src/app/shared/styles/mixins';

.todolist_box {
    @include flexDefault();
    flex-direction: column;

    .header_navbar {
        @include flexDefault();
        justify-content: center;

        .todolist_title {
            margin: 20px 0;
        }

        .logoutBox {
            margin-left: 30px;

            @include defaultBigButton();
        }
    }

    .todolist_addForm {
        margin-bottom: 20px;

        input {
            border: 2px solid green;
            padding: 5px 5px 5px 10px;
            width: 250px;
            height: 30px;
        }
        button {
            font-size: 20px;
            border-radius: $borderRadius;
            background-color: green;
            color: white;
            border: none;
            height: 25px;
            width: 25px;
            margin-left: 10px;
            &:hover {
                cursor: pointer;
            }
        }
    }
    .todolist_getTlError {
        color: red;
        font-size: 20px;
    }
    .todolists_box {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}
