.todolist_box {
    display: flex;
    flex-direction: column;
    align-items: center;

    .todolist_title {
        font-weight: bold;
        font-size: 30px;
        margin: 20px 0;
    }
    .todolist_item {
        border: 1px solid black;
        margin: 5px;
        padding: 5px;
        display: flex;
        justify-content: center;
        color: black;
    }
    .todolist_getTlError {
        color: red;
        font-size: 20px;
    }
}
