<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login_box">
    <!--email-->
    <div class="emailBox">
        <label for="email">E-mail:</label>
        <input
            id="email"
            type="text"
            formControlName="email"
            required
            [ngClass]="{
                defaultInput: true,
                errorInput: email!.invalid && (email!.dirty || email!.touched)
            }"
        />
    </div>
    <div *ngIf="email!.invalid && (email!.dirty || email!.touched)" class="error">
        <div *ngIf="email!.errors?.['required']">E-mail is required</div>
        <div *ngIf="email!.errors?.['pattern']">Not valid e-mail</div>
    </div>

    <!--password-->
    <div class="passwordBox">
        <label for="password">Password:</label>
        <input
            id="password"
            type="password"
            formControlName="password"
            required
            [ngClass]="{
                defaultInput: true,
                errorInput: password!.invalid && (password!.dirty || password!.touched)
            }"
        />
    </div>
    <div *ngIf="password!.invalid && (password!.dirty || password!.touched)" class="error">
        <div *ngIf="password!.errors?.['required']">Password is required</div>
        <div *ngIf="password!.errors?.['minLength']">Field must contain minimum 8 symbols</div>
    </div>

    <!--remember me-->
    <div>
        <label class="rememberMeBox">
            <div>
                <input id="rememberMe" type="checkbox" formControlName="rememberMe" />
            </div>
            <div>Remember Me</div>
        </label>
    </div>
    <div class="submitBox">
        <button type="submit" [disabled]="loginForm.invalid">Login</button>
    </div>
</form>
