.login_box {
    border: 2px solid green;
    width: 300px;
    margin: 100px auto 0 auto;
    padding: 20px;
    //display: flex;
    //flex-direction: column;
    //justify-content: center;
    //align-items: center;

    div {
        margin-bottom: 15px;
    }

    .emailBox {
        margin-top: 40px;

        input {
            padding-left: 5px;
        }
    }

    .passwordBox {
        input {
            padding-left: 5px;
        }
    }

    .rememberMeBox {
        display: flex;
        align-items: center;
    }

    .submitBox {
        display: flex;
        justify-content: center;

        button {
            font-size: 18px;
            margin: 10px;
            padding: 10px;
            border: 2px solid green;
            //border-radius: 5px;
            cursor: pointer;
            background-color: green;
            color: white;
            width: 100px;

            &:hover {
                background-color: white;
                color: black;
            }
        }
    }
}


.error {
    color: red;
}

.defaultInput {
    border: 2px solid green;
    width: 100%;
    height: 30px;
}
.errorInput {
    border: 2px solid red;
    background-color: gray;
}

// чтобы не навешивать стили, можно использовать по умолчанию
// чтобы стили подключались глобально, необходимо вставить их в styles.scss
//.ng-valid[required], .ng-valid.required  {
//    border-left: 5px solid #42A948; /* green */
//}
//.ng-invalid:not(form)  {
//    border-left: 5px solid #a94442; /* red */
//}
//.ng-pristine:not(form) {
//    border-left: 5px solid #e1c8c8;
//}

