@import 'src/app/shared/styles/mixins';
@import 'src/app/shared/styles/variables';

.todolist_item {
    @include flexDefault();
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #b0b0b0;
    margin: 20px;
    padding: 15px 20px;
    color: black;
    border-radius: $borderRadius;
    width: 300px;
    @include boxShadow();

    .todolist_item_title {
        @include flexDefault();
        justify-content: space-between;
        margin-bottom: 20px;
        width: 300px;
        padding: 0 20px;
        word-break: break-word;

        .todolist_inputField {
            input {
                border: 1px solid green;
                padding: 5px 5px 5px 10px;
                width: 250px;
            }
        }

        .todolist_title {
            font-weight: bold;
            font-size: 20px;
        }

        button {
            @include flexDefault();
            justify-content: center;
            margin-left: 5px;
            background-color: red;
            color: white;
            border: none;
            height: 25px;
            width: 25px;
            border-radius: 50%;
            cursor: pointer;
        }

        .deleteBox {
            @include defaultIcon(30px, 30px);
        }
    }

    .todolist_addedDate {
        margin-bottom: 10px;
        font-style: italic;
        border-bottom: 1px solid black;
    }

}
