<div class="todolist_item">
    <div class="todolist_item_title">
        <div *ngIf="isTitleEditMode; else NotEditMode" class="todolist_inputField">
            <input type="text" (blur)="updateTodolistTitleHandler()" [(ngModel)]="newTitle" />
        </div>
        <ng-template #NotEditMode>
            <div (dblclick)="activateTitleEditModeHandler()" class="todolist_title">
                {{ todolist.title }}
            </div>
        </ng-template>
        <!--<button (click)="deleteTodoHandler()">X</button>-->
        <div class="deleteBox" (click)="deleteTodoHandler()">
            <img src="/assets/icons/delete-02.svg" alt="deleteTodolistImage" />
        </div>
    </div>
    <div class="todolist_addedDate">Added date: {{ todolist.addedDate | date }}</div>
    <todolist-todolist-filter
        (changeFilterEvent)="changeFilter($event)"
        [filter]="todolist.filter"
    ></todolist-todolist-filter>
    <todolist-tasks [todolistId]="todolist.id"></todolist-tasks>
</div>
