.todolist_item {
    border: 1px solid black;
    margin: 5px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    border-radius: 5px;

    .todolist_title {
        font-weight: bold;
    }

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 5px;
        background-color: red;
        color: white;
        border: none;
        height: 19px;
        width: 19px;
        border-radius: 50%;
        cursor: pointer;
    }
}
