.task_item{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .task_item_title {
        display: flex;
        align-items: center;

        .task_item_title_name {
            margin-left: 5px;
            margin-bottom: 5px;
            word-break: break-word;
        }
    }

    .todolist_inputField {
        input {
            border: 1px solid green;
            padding: 5px 5px 5px 10px;
            width: 190px;
        }
    }

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 15px;
        padding-bottom: 3px;
        background-color: red;
        color: white;
        border: none;
        height: 19px;
        width: 19px;
        border-radius: 50%;
        cursor: pointer;
        font-size: 20px;
        &:hover {
            cursor: pointer;
        }
    }
}
