<div class="task_item">
    <div class="task_item_title">
        <div>
            <input
                type="checkbox"
                [(ngModel)]="task.status"
                (click)="updateTaskStatusHandler($event)"
                [checked]="task.status === taskStatusEnum.Completed"
            />
        </div>

        <div *ngIf="isTaskTitleEditMode; else NotEditMode" class="todolist_inputField">
            <input type="text" (blur)="updateTaskTitleHandler()" [(ngModel)]="newTaskTitle" />
        </div>
        <ng-template #NotEditMode>
            <div class="task_item_title_name" (dblclick)="activateTaskTitleEditModeHandler()">
                {{ task.title }}
            </div>
        </ng-template>
    </div>
    <button (click)="deleteTaskHandler()">-</button>
</div>
