@import 'src/app/shared/styles/mixins';

.task_item{
    @include flexDefault();
    justify-content: space-between;

    .task_item_title {
        @include flexDefault();

        .task_item_title_name {
            margin-left: 5px;
            margin-bottom: 5px;
            word-break: break-word;
        }
        .task_item_title_name_completed {
            opacity: 0.5;
            text-decoration: line-through;
        }
    }

    .todolist_inputField {
        input {
            border: 1px solid green;
            padding: 5px 5px 5px 10px;
            width: 190px;
        }
    }

    button {
        @include flexDefault();
        justify-content: center;
        margin-left: 15px;
        padding-bottom: 3px;
        background-color: red;
        color: white;
        border: none;
        height: 19px;
        width: 19px;
        border-radius: 50%;
        cursor: pointer;
        font-size: 20px;
        &:hover {
            cursor: pointer;
        }
    }

    .deleteBox {
        @include defaultIcon(25px, 25px);
    }
}
