<h1>parent works!</h1>
<div>
    <div *ngIf="isLoading; else elseBlock">
        <h1>Loading...</h1>
    </div>

    <ng-template #elseBlock>
        <div>
            <first-child (SendInputEvent)="getGrade($event)"></first-child>
            <div *ngFor="let el of grades; index as i">{{ i + 1 }}.{{ el }}</div>
            <hr />
            <div *ngFor="let item of lessons">
                <h3>{{ item.title }}</h3>
                <div *ngFor="let el of item.grades">{{ el.mark }}</div>
            </div>
        </div>
    </ng-template>
</div>
