<h1>parent works!</h1>
<div>
    <div *ngIf="isLoading; else elseBlock">
        <h1>Loading...</h1>
    </div>

    <ng-template #elseBlock>
        <div>
            <first-child (SendInputEvent)="getGrade($event)"></first-child>
            <div *ngFor="let el of grades; index as i">{{ i + 1 }}.{{ el }}</div>
            <hr />
            <div *ngFor="let item of lessons">
                <h3>{{ item.title }}</h3>
                <div *ngFor="let el of item.grades">{{ el.mark }}</div>
            </div>
        </div>
    </ng-template>

    <hr />
    <input type="text" [(ngModel)]="switchValue" />
    <div [ngSwitch]="switchValue">
        <div *ngSwitchCase="1">One</div>
        <div *ngSwitchCase="2">Two</div>
        <div *ngSwitchCase="3">Three</div>
        <div *ngSwitchDefault>NO!</div>
    </div>
    <hr />
    <div>
        <!--        <h1 class="default success">Test Style Classes</h1>-->
        <!--        <h1 [ngClass]="'default success'">Test Style Classes</h1>-->
        <h1 [ngClass]="{ default: true, error: isClass }">Test Style Classes</h1>
    </div>
</div>
