@import 'src/app/shared/styles/mixins';
@import 'src/app/shared/styles/variables';

.filter_box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    .currentFilter {
        background-color: green;
        color: white;
        @include boxShadow();
    }

    button {
        font-size: 14px;
        margin: 10px;
        padding: 10px;
        border: 1px solid green;
        border-radius: $borderRadius;
        cursor: pointer;
        background-color: white;

        &:hover {
            background-color: green;
            color: white;
        }
    }
}
