.filter_box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    .currentFilter {
        background-color: green;
        color: white;
        box-shadow: #737373 3px 3px 10px;
    }

    button {
        font-size: 14px;
        margin: 10px;
        padding: 10px;
        border: 1px solid green;
        border-radius: 5px;
        cursor: pointer;
        background-color: white;

        &:hover {
            background-color: green;
            color: white;
        }
    }
}
