<p>login works!</p>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div>
        <label for="email">E-mail: </label>
        <input
            id="email"
            type="text"
            formControlName="email"
            required
            [ngClass]="{
                defaultInput: true,
                errorInput: email!.invalid && (email!.dirty || email!.touched)
            }"
        />
    </div>
    <div *ngIf="email!.invalid && (email!.dirty || email!.touched)" class="error">
        <div *ngIf="email!.errors?.['required']">E-mail is required</div>
        <!--        <div *ngIf="email!.errors?.['email']">Please enter correct e-mail</div>-->
        <div *ngIf="email!.errors?.['pattern']">Not valid e-mail</div>
    </div>

    <div>
        <label for="password">Password: </label>
        <input id="password" type="password" formControlName="password" required />
    </div>
    <div *ngIf="password!.invalid && (password!.dirty || password!.touched)" class="error">
        <div *ngIf="password!.errors?.['required']">Password is required</div>
        <div *ngIf="password!.errors?.['pattern']">Field must contain only letters</div>
    </div>

    <button type="submit" [disabled]="loginForm.invalid">Submit</button>
</form>

<!--<div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert">-->
<!--    <div *ngIf="name.errors?.['required']">Name is required.</div>-->
<!--    <div *ngIf="name.errors?.['minlength']">Name must be at least 4 characters long.</div>-->
<!--    <div *ngIf="name.errors?.['forbiddenName']">Name cannot be Bob.</div>-->
<!--</div>-->
